apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-fjvqwuht
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-fjvqwuht:160b3f416575308c468ee7382fecdc41a19d4daa@sha256:8072a2dc1ff5ed69607a62bc99211aa236ce686f10981402f67267826a5ae606
          name: container-image
